.btn {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}

.input {
  padding: 10px;
  border: none;
  width: 400px;
  outline: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid gray;
  color: white;
  &:focus{
    border-bottom: 3px solid orange;
  }
}